@media only screen and (max-width : 600px) {
  .parallax-container {
    height:auto;
}
#form_div{
   border-radius: 25px;
 }
  .parallax {
    position: relative;
    width: 100%; }
    .parallax img {
     position: relative; }
 } 

 